<div class="row">

  <h6 class="text-center mb-4">Ingrese los datos del producto</h6>
  <div class="col-sm-4 offset-md-4">
    <div class="card card-body shadow-sm">
      <form (submit)="edit ? updateProducto() : submitProducto()">
        <div class="form-group  mb-3">
          <input type="text" name="nombre" [(ngModel)]="producto.nombre" class="form-control" placeholder="Nombre"
            autofocus>
        </div>

        <div class="form-group  mb-3">
          <input type="text" name="marca" [(ngModel)]="producto.marca" class="form-control" placeholder="Marca"
            autofocus>
        </div>

        <div class="form-group  mb-3">
          <input type="text" name="precio" [(ngModel)]="producto.precio" class="form-control" placeholder="precio"
            autofocus>
        </div>

        <div class="form-group  mb-3">
          <input type="text" name="URL" [(ngModel)]="producto.url" class="form-control" placeholder="URL" autofocus>
        </div>
        <button class="btn btn-primary btn-block">Guardar</button>
      </form>
    </div>
  </div>

</div>
